header{
  background-color:red;
  font-family: helvetica;
}
.column-1{
  padding-right: 2.3%;
  padding-left: 2.3%;
  display:inline-block;
  vertical-align:top;
  width: 45%;
  background-color:blue;
  height: 100vh;
  overflow: auto;
}

section{
  border: 1% solid black;
}

h2{
  color: #40E0D0;
  font-family: Times New Roman;
}
.column-2{
  display:inline-block;
  padding-right: 2.3%;
  padding-left: 2.3%;
  verticle-align:top;
  width: 45%;
  background-color:yellow;
  height: 100vh;
  overflow: auto;
}
footer{
  background-color:orange;
}
