<!DOCTYPE html>
<html>
<head>
  <title>Add a New City</title>
</head>
<body>
  <form action="/campuses" method="POST">
    <input type="text" name="campus_city" placeholder="City">
    <button type="submit">Add</button>
  </form>
</body>
</html>